<section class="pageBox">
	<a class="newPostButton" href="/newPost"><button class="newPostBtn">+ New Post</button></a>
	{{#each posts as |post|}}
	<section class="postBox">
		<div class="postMessageHeader">
			<div>
				<h4 class="leftAlign"><a href="/post/{{post.id}}">{{post.title}}</a></h4>
			</div>
			<div class="rightAlign">
				<h5>Posted by {{user.username}} {{format_date post.date_created}}</h5>
			</div>
		</div>
		<div class="postText">
			<p>
				{{post.post_contents}}
			</p>
		</div>
	</section>
	{{/each}}
</section>
</body>

</html>