<section class="pageBox">
  <div>
    <h3>{{username}}</h3>
  </div>
  {{#each posts as |post|}}
  <section class="postBox">
    <div class="postMessageHeader">
      <div>
        <h4 class="leftAlign"><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="rightAlign">
        <h5>Posted by {{user.username}} {{format_date post.date_created}}</h5>
      </div>
    </div>
    <div class="postText">
      <p>
        {{post.post_contents}}
      </p>
      <div class="form-group profileBtnMargin">
        <button class="editPostBtn" data-id="{{post.id}}"
          data-target="modal-card">Edit Post</button>
        <button class="deletePostBtn" data-target="modal-card"
          data-id="{{post.id}}">Delete Post</button>
      </div>
  </section>
  {{/each}}
</section>
<script src="/js/profile.js"></script>
</body>

</html>


